plugins {
  
}

profiles {

    standard {
        process.executor = 'local'
    }

    cluster {
        process.executor = 'sge'
        process.queue = 'long'
        process.memory = '10GB'
    }

    cloud {
        process.executor = 'cirrus'
        process.container = 'cbcrg/imagex'
        docker.enabled = true
    }
    
    ignite {
        process.executor = 'ignite'  
		cluster {
			join = 'ip:127.0.0.1:47500..47609'			
		}	
    }

}

process.executor = 'ignite'  
cluster {
	join = 'ip:127.0.0.1:47500..47609'			
}	
		

tower {
  accessToken = '41b41f33cbaa3e62dd184362676a86fa3585ce1e'
  endpoint = 'http://localhost:8000'
  enabled = true
}


